.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 0.18rem rgba(0, 0, 0, 0.2);
    display: flex;
    background-color:#FFFFFF;
}

.bottom-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 3rem;
    padding: 0.5rem;
}