:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;
  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
}

.calend{
  height: 300px;
  padding: 45px;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.73);
  border-radius: 20px;
}

.month-indicator {
  color: black;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.day-of-week,
.date-grid {
  display: grid;
  font-size: 30px;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.9em;
  color: black;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* Dates */
.date-grid {
  margin-top: 0.5em;
}

/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 6;
}

.date-grid button {
  position: relative;
  border: 0;
  width: 13ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: black;
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: black;
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: black;
  color: black;
}

h1{
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #0f0202;
  margin: 1rem;
}

.numeroconsultas{
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

select, input#appt, input#aa{
  height: 40%;

}

.numero {
  font-size: 15px;
}

.bt {
  border:1px solid #000300;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-size:20px;
  padding:6px 10px;
  text-decoration:none;
  } 
  
  .bt-vd {
  border-color:#68b465;
  background:linear-gradient(to bottom, #abd5aa 5%, #68b465 100%);
  box-shadow:inset 0px 1px 0px 0px #e3f1e3;
  color:#fff;
  text-shadow:0px 1px 0px #528009;
  }
   