.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: auto;
    padding: 60px;
    border-radius: 8%;
    background: rgba(255, 255, 255, 0.73);
}
.formulario p{
    width: 100%;
    font-size: 2em;
}
.field{
    width: 100%;
    margin: 7px 0;
}

.butones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoenviar{
    display: block;
    background-color: hsl(155, 46%, 59%);
    outline: 0;
    cursor: pointer;
    padding: 0.1rem;
    width: 8rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    align-self: center;

}


.botaoenviar2{
    display: block;
    height: auto;
    outline: 0;
    cursor: pointer;
    width: auto;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000cb;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000f04cb;
}

.botaoenviarX{
    display: block;
    height: auto;
    outline: 0;
    cursor: pointer;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #023E8A;
    box-sizing: border-box;
    border-radius: 10px;
    color: #023E8A;
}

.botaoenviar3{
    display: block;
    background-color: hsl(155, 46%, 59%);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 30px auto;
    text-align: center;
    border-radius: 15px;
}

.botaoenviar4 {
    display: block;
    background-color: hsl(155, 46%, 59%);
    outline: 0;
    cursor: pointer;
    padding: 0.1rem;
    height: 2.5rem;
    width: 8rem;
    margin: 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    align-self: center;
}

.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.0em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=tel],
textarea{
    width: 90%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

.preço{
    margin: 15px 0;
}

.horario {
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horario2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color:  #000000d3;
    margin: 1rem;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000d3;
}
  
label{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;
    color: #000000c7;
}
  
.titulo_cli{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #023E8A;
  }


.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}