.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    height: 600px;
    padding: 75px;
    border: 1px solid rgba(8, 0, 0, 0.74);
    border-radius: 8%;
    background: rgba(255, 255, 255, 0.73);
}
.formulario p{
    width: 100%;
    font-size: 2em;
}
.field{
    width: 100%;
    margin: 7px 0;
}

.botaoenviar{
    display: block;
    background-color: hsl(155, 46%, 59%);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 10px auto;
    text-align: center;
    border-radius: 15px;
}

.botaoenviar2{
    display: block;
    background-color: hsl(155, 46%, 59%);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 170px;
    margin: 15px auto;
    text-align: center;
    border-radius: 15px;
}

.botaoenviar3{
    display: block;
    background-color: hsl(155, 46%, 59%);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 30px auto;
    text-align: center;
    border-radius: 15px;
}

.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.0em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=tel],
textarea{
    width: 90%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

/*input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}*/
.preço{
    margin: 15px 0;
}

.horario {
    margin: 20px 0;
}

.horario2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color:  #000000d3;
    margin: 1rem;
}
  h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000d3;
  }
  
  label{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000d3;
  }
  
  /* input{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #023E8A;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #023E8A;
  } */ */