.htmlprof {
    font-size: 16px;
    height: 100%;
    /*font-style: normal;
    /*font-family: "Times New Roman", Times, serif;*/
}

.serif {
    font-family: 'Baskervville', serif;
}
  
.sansserif {
    font-family: 'Secular One','Open Sans', sans-serif;
}

.bodyprof {
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-self: center;*/
}

.superior {
    position: fixed;   /*flutuante*/
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    overflow-x: auto;
}

.inferior {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    box-shadow: 0 0 0.3rem rgba(1, 1, 1, 1);
    display: flex;
    overflow-x: auto;
}

.item_superior {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.item_inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.string {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: 10rem;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    margin: 2rem;
}

.compra{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 15%;
}

.hoodie {
    font-size: 1.3rem;
    border-radius: 7px;
    padding: 0.02rem 1.5rem;
    text-decoration: none;
    margin: 0.31rem 0.25rem;
    cursor: pointer;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    margin: 0.7rem 1rem;
    margin-bottom: 20%;
}
/*.hoodie2 {
    font-size: 1.3rem;
    border-radius: 7px;
    padding: 0.02rem 1.5rem;
    text-decoration: none;
    margin: 0.31rem 0.25rem;
    cursor: pointer;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    margin: 0.7rem 1rem;
}*/

/*.compra2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}*/

.final {
    font-size: 1.3rem;
    border-radius: 7px;
    padding: 0.02rem 1.5rem;
    text-decoration: none;
    margin: 0.31rem 0.25rem;
    cursor: pointer;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    margin: 0.7rem 1rem;
}