html {
    font-size: 18px;
    height: 100%;
    /*font-style: normal;*/
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0096c7;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0096c7;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    height: 74px;
    width: 100%;
    align-content: flex-end;
    align-self: flex-end;
}

.search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.submit-bot {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 0.31rem 0.25rem;
    cursor: pointer;  
}

input[type=text] {
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}
.main2 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.img{
    border-radius: 50%;
    margin-bottom: 10%;
    margin-right: 30%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}