html {
    font-size: 16px;
    height: 100%;
    /*font-style: normal;
    /*font-family: "Times New Roman", Times, serif;*/
}

.serif {
    font-family: 'Baskervville', serif;
  }
  
.sansserif {
    font-family: 'Secular One','Open Sans', sans-serif;
  }

.baludo{
    font-family: 'Baloo Tammudu 2';
}


body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    background-color: #0096c7;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0096c7;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 1rem 1rem;
}

.submit-bot {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 0.31rem 0.25rem;
    cursor: pointer;  
}

input[type=text] {
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}
.main2 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}
