html {
    font-size: 18px;
    height: 100%;
    /*font-style: normal;*/
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 119, 182, 0.7) 0%, #0096C7 48.96%, rgba(0, 180, 216, 0.45) 100%);
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    height: 74px;
    width: 100%;
    align-content: flex-end;
    align-self: flex-end;
}

.search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.submit-bot {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 2rem 0.5rem;
    cursor: pointer;  
    width: 100%;
}

.submit-bot2 {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 0.9rem 5rem;
    cursor: pointer;  
}

.submit-botconclusao {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 2rem 2rem;
    cursor: pointer;  
}

input[type=text] {
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

.compra{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.fraseinicial{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #000000a6;
    margin-bottom: 5%;
}

.fraseinicial2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.73);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    width: 3.2rem;
}

.icone{
    width: 3rem;
}

.inline{
    display: inline-flex;
    width: 100%;
}

.boxtwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.73);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
}

a{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.conteiner{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img{
    align-self: center;
    padding: 3rem;
}

.star {
    margin: 100px;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #000;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    }