html {
    font-size: 18px;
    height: 100%;
    /*font-style: normal;*/
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0096c7;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 119, 182, 0.7) 0%, #0096C7 48.96%, rgba(0, 180, 216, 0.45) 100%);
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    height: 74px;
    width: 100%;
    align-content: flex-end;
    align-self: flex-end;
}

.search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.submit-bot {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 2rem 0.5rem;
    cursor: pointer;  
    width: 100%;
}

.submit-bot2 {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1.12rem 2.25rem;
    text-decoration: none;
    margin: 0.9rem 5rem;
    cursor: pointer;  
}

.submit-botconclusao {
    background-color:hsl(349, 0%, 27%);
    border-radius: 12px;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 2rem 2rem;
    cursor: pointer;  
}

input[type=text] {
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

.img{
    border-radius: 20%;
    margin-right: 10%;
}

.compra{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}